<div class="col-12">
  <a href="/post/<%= postURL %>">
    <div class="recent">
      <div>
        <img src="<%= imageURL %> " alt="" />
      </div>
      <div class="title">
        <div><%= title %></div>
        <small class="date">date</small>
      </div>
    </div>
  </a>
</div>
